<a href="/admin/dashboard">&larr; Back</a>
<div class="admin-title">Add new Post</div>
<form action="/admin/add-post" method="POST">
    <label for="Title">Title</label>
    <input type="text" placeholder="post title" name="title">
    <label for="Content">Content</label>
   <textarea name="Content" cols="50" rows="10" ></textarea>
   <button type="submit" class="btn">Add</button>
</form>