<h3>Sign In</h3>

<form action="/admin" method="POST">
    <!--action="/admin" indique que les données du formulaire seront envoyées à l'URL /admin lorsque le formulaire sera soumis.-->
    <label for="username"><b>username</b></label>
    <input type="text" placeholder="username..." name="username">

    <label for="password"><b>password</b></label>
    <input type="password" placeholder="password..." name="password">
    <button type="submit" class="btn">Login</button>
</form>


<!--
<h3>Register</h3>

<form action="/admin/register" method="POST">
    <label for="username"><b>username</b></label>
    <input type="text" placeholder="username..." name="username">

    <label for="password"><b>password</b></label>
    <input type="password" placeholder="password..." name="password">
    <button type="submit" class="btn">Register</button>
</form>
-->